.register__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0 0 6px;
  color: #fff;
  background-color: black;
}

.register__input:focus {
  border-bottom: 1px solid rgba(104, 171, 139, 0.4);
}
