.register__question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 80px;
}

@media (max-width: 720px) {
    .register__question-container {
        padding: 20px 0 40px;
    }
  }