.popup__submit {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  width: 100%;
  min-height: 50px;
  padding: 0;
  margin-top: 49px;
  transition: 0.4s ease-in;
  cursor: pointer;
}

@media (max-width: 581px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
    margin-top: 45px;
  }
}
